.svg-calLoader {
    width: 230px;
    height: 230px;
    -webkit-transform-origin: 115px 115px;
    transform-origin: 115px 115px;
    -webkit-animation: 3s linear infinite loader-spin;
    animation: 3s linear infinite loader-spin;
}

.cal-loader__plane {
    fill: black;
}

.cal-loader__path {
    stroke: red;
    -webkit-animation: 3s ease-in-out infinite loader-path;
    animation: 3s ease-in-out infinite loader-path;
}

@-webkit-keyframes loader-spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-path {
    0% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
    50% {
        stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
    100% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
}

@keyframes loader-path {
    0% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
    50% {
        stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
    100% {
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
}